body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  .calculator {
    border: 1px solid #333;
    padding: 50px;
    background: white;
    border-radius: 10px;
    width: 200px;
  }
  .display {
    width: 90%;
    height: 5px;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    border: 1px solid #333;
    margin-bottom: 10px;
    border-radius: 5px;
    justify-content: center;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
  }
  .buttons button {
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border: px solid #252525;
    border-radius: 5px;
    background-color: #ddd;
  }
  .buttons button:hover {
    background-color: #ccc;
  }